<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @image.path %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @image.categories %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @image.visible %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
